@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0A0A0A;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #1a1a1a;
}
::-webkit-scrollbar-thumb {
  background: #FF2D95;
  border-radius: 4px;
}